@tailwind components;
@tailwind utilities;
@import '@fontsource/inter';
@import '@fontsource/inter/500';
@import '@fontsource/inter/600';
@import '@fontsource/inter/700';
@import 'popover.scss';

*{
  font-family: 'Inter';
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  background: url(/bg-1.svg) no-repeat;
  background-size: contain;
  background-position: 50% 100%;
}


h1, h2, h3, h4, h5, h6{
  margin: 0;
}

a {
  text-decoration: none;
}


.input-default {
  @apply block w-full text-xs py-[7px] shadow-sm focus:ring-blue-500 focus:border-blue-500 rounded-md placeholder-gray-400 max-h-8;
}
